$font-stack: Helvetica, sans-serif;
$primary-color: #333;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-icons: #929292;
  --clr-bg-very-light: #929292;
  --clr-text: #eee;
  --clr-bg-dark: #242424;
  --clr-bg-light: #3b3b3b;
  --clr-accent: #00ccff;
}

html body {
  margin: 0px;
  padding: 0px;
}

#indexPageRoot {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

header {
  margin: 0px 0px;
  background-color: var(--clr-bg-dark);
  color: var(--clr-text);
  font-size: 2rem;
  padding: 0;
  position: relative;
  display: flex;
}

body {
  font-family: sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0.5rem;
  background-color: var(--clr-bg-dark);
  color: var(--clr-text);
  line-height: 2rem;
}

#scrollToTopButtonContainer {
  position: fixed;
  right: 1em;
  z-index: 2;
  transition-duration: 300ms;
  transition-property: opacity, bottom;
  transition-timing-function: cubic-bezier(0.4, 0, 0.17, 1.39);
}

#scrollToTopButtonContainer.visible {
  bottom: 1em;
  opacity: 1;
}
#scrollToTopButtonContainer.hidden {
  bottom: -3em;
  opacity: 0;
}

.actionButton {
  background-color: var(--clr-accent);
}

#contentContainer {
  padding-bottom: 5rem;
  background-color: var(--clr-bg-light);
}

#postIndexContainer {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem; */
  background-color: var(--clr-bg-very-light);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}
@media (max-width: 700px) {
  /*  #postIndexContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  } */
}

.cardContent {
  color: var(--clr-text);
}

.fancyLink {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  /*   text-align: center;
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: var(--clr-accent); */
}
a {
  color: var(--clr-white);
  /* transition-duration: 250ms !important;
  transition-property: transform !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.17, 1.39) !important; */
  text-decoration: none;
  position: relative;
}
a:hover {
  color: var(--clr-accent);
}
a::after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}
a:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  transform-origin: left;
}

canvas {
  background-color: var(--clr-bg-dark);
}

.blogCard:hover {
  filter: drop-shadow(0em 0em 0.5em var(--clr-accent));
}

.blogCardContainer {
  max-width: 18rem;
}

.blogCardImage {
  max-height: 10rem;
}

.blogCardPostDescription {
  padding: 5px;
  padding-top: 8px;
}

.blogCardLinkContainer {
  padding-bottom: 5px;
  position: relative;
}
.blogCardLinkContainer::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: var(--clr-accent);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in;
}
.blogCardLinkContainer:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

a {
  text-decoration: none;
}

.loading {
  padding: 10px;
  font-weight: 900;
  font-size: 3em;
  transform: translate3d(-50%, -50%, 0);
}

.blogPostHeaderRoot {
  padding: 1rem;
  background-color: var(--clr-bg-light);
}
.blogPostHeaderRoot-titleContainer {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 1rem;
}
.blogPostHeaderRoot-title {
  text-align: center;
  padding: 0;
}

.blogPostContentRoot {
  padding: 1rem 3rem;
}

.socialIconsRoot {
  display: flex;
  flex-direction: row;
}
.socialIconButton {
  padding: 0;
  margin: 0 0.25rem;
  height: 24px;
  width: 1.5rem;
  line-height: 1.5rem;
  border-radius: 0.1875rem;
  text-align: center;
  background: #ebebeb;
}
.socialIconButton:hover {
  background-color: #fff;
  filter: drop-shadow(0em 0em 0.5em var(--clr-accent));
}
